<h1>definitions</h1>

<h3>Here are the definitions of this word: </h3>
<ul>
  <% @definitions.each() do |definition| %>
    <li><a href="/definitions/<%= definition.id() %>"><%= definition.model() %></a></li>
  <% end %>
</ul>
