<h1>Add a definition to <%= @word.name() %> </h1>

<form action="/definitions" method="post">
  <input id='word_id' name='word_id' type='hidden' value='<%= @word.id() %>'>

  <label for='meaning'>Definition's meaning:</label>
  <input id='meaning' name='meaning' type='text'>

  <label for='part_of_speech'>Definition's part_of_speech:</label>
  <input id='part_of_speech' name='part_of_speech' type='text'>

  <button type="submit">Add Definition</button>
</form>
